HtmlGeneratorTest/bin/Debug/HtmlGenerator.dll
HtmlGeneratorTest/bin/Debug/HtmlGenerator.pdb
HtmlGeneratorTest/bin/Debug/HtmlGeneratorTest.dll
*.pdb
*.dll
HtmlGenerator/HtmlGenerator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
HtmlGenerator/HtmlGenerator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HtmlGenerator/.vs/HtmlGenerator/v14/.suo
HtmlGenerator/HtmlGenerator/obj/Debug/HtmlGenerator.csproj.FileListAbsolute.txt
HtmlGenerator\HtmlGenerator\HtmlGenerator\obj\*.*
HtmlGenerator/HtmlGenerator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.txt
HtmlGeneratorTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HtmlGeneratorTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HtmlGeneratorTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HtmlGeneratorTest/Properties/AssemblyInfo.cs